body {
    background-color: grey;
}


#game {
    width: 852px;
    height: 504px;
    margin: 0 auto;
    position: relative;
}

#gameTitle {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 20px 0;
    color: white;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    position: relative;
}


#txtName {
    position: absolute;
    display: none;
    top: 110px;
    right: 300px;
    z-index: 101;
    width: 150px;
    height: 20px;
}